/*basics*/
html{
    font-family:Helvetica;
    font-size:22px;
    color:seashell;
    background-color:black;
    opacity:0.9;
    width:1200px;
    margin:auto;
}

h2,h4 {
  margin:0 auto;
}

.content{
    margin-top:70px;
    width:1200px;
    display:flex;
    flex-direction:column;
}

/*header*/
header{
    position:fixed;
    display:flex;
    height:69px;
    width:100%;
    top:0;
    border-bottom:1px solid seashell;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    left:0;
}

.logo{
    background-image: url("tea-cozy-logo.png");
    height:50px;
    width:160px;
    margin:10px;
    background-size:cover;
}

.nav{
    margin:10px;
}
a{
    text-decoration: underline;
    color:seashell;
    padding:10px;
}

/*mission*/

.mission{
    background-image: url("mission-background.jpg");
    background-size:cover;
    height:700px;
    display:flex;
    flex-direction:column;
    justify-content: center;
}

.description{
    background-color: black;
    height:100px;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
}

/*tea*/
.tea{
    display:flex;
    flex-direction:column;
    margin:70px 100px;
    justify-content: space-around;
    height:640px;
}

.row{
    display:flex;
    justify-content: center;
    flex-direction:row;
}

.box{
  text-align:center;
}

.image{
    width:300px;
    height:200px;
    background-size:cover;
    margin:15px;
}

.berry{
    background-image: url("berryblitz.jpg");

}

.rum{
    background-image: url("spiced-rum.jpg");
}

.donuts{
    background-image: url("donut.jpg");
}

.myrtle{
    background-image: url("myrtle-ave.jpg");
}

.bedford{
    background-image: url("bedford-bizarre.jpg");
}

/*locations*/

.locations{
    background-image: url("locations-background.jpg");
    background-size:cover;
    height:560px;
    width:1200px;
    display:flex;
    flex-direction:column;
    text-align:center;
}
.location{
    display:flex;
    flex-direction:row;
    margin-top:70px;
}
.address{
    display:flex;
    flex-direction:row;
    justify-content: center;
}

.place{
    display:flex;
    flex-direction:column;
    background-color:black;
    width:280px;
    height:250px;
    margin:15px 20px;
    justify-content: space-around;
    align-content: center;
    padding:10px;
}

h3{
    text-align: center;
    margin:0 auto;
}
/*footer*/

footer{
    display:flex;
    flex-direction:column;

}

.info{
    display:flex;
    flex-direction:column;
    align-items:center;
    height:200px;
    margin-top:15px;
}

.info h2{
  margin-bottom:30px;
}

h5{
    margin:15px auto;
}

.copyright{
    text-align:left;
    left:20px;
    top:2350px;
    position:absolute;
}
