/*basics*/
html{
    font-family:Helvetica;
    font-size:22px;
    color:seashell;
    background-color:black;
    opacity:0.9;
}

h2{
  margin:0 auto;

}

h4{
  margin:0 auto;
}

/*header*/
header{
    position:fixed;
    display:flex;
    height:69px;
    width:100%;
    top:0;
    border:1px solid seashell;
    background-color: black;
    justify-content: flex-end;
    text-align: center;
}

.logo{
    background-image: url("tea-cozy-logo.png");
    height:50px;
}

header nav{

}

a{
    text-decoration: underline;
}


/*mission*/

.mission{
    background-image: url("mission-background.jpg");
    height:700px;
    width:1200px;
    display:flex;
    margin-top:70px;
    flex-direction:column;
    justify-content: center;
}

.description{
    background-color: black;
    height:100px;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
}

/*tea*/
.tea{
    display:flex;
    flex-direction:column;
}

.row{
    display:flex;
    justify-content: space-around;
    flex-direction:row;
}

.image{
    width:300px;
    height:200px;
    display:flex;
    flex-direction:column;
    justify-content: flex-end;
    flex-shrink:1;
}

.berry{
    background-image: url("berryblitz.jpg");
}

.rum{
    background-image: url("spiced-rum.jpg");
}

.donuts{
    background-image: url("donut.jpg");
}

.myrtle{
    background-image: url("myrtle-ave.jpg");
}

.bedford{
    background-image: url("bedford-bizarre.jpg");
}

/*locations*/

.locations{
    background-image: url("locations-background.jpg");
    height:500px;
    display:flex;
    flex-direction:column;
}

.address{
    display:flex;
    flex-direction:row;
    margin-top:100px;
    justify-content: center;
    margin-bottom:100px;
}

.place{
    display:flex;
    flex-direction:column;
    background-color:black;
    width:300px;
    height:300px;
    margin-right:40px;
    justify-content: space-around;
    align-content: center;

}

h3{
  text-align: center;
  margin:0 auto;
}
